# Byte-compiled / optimized / DLL files
__pycache__/
.env


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

output.json
teste.html
archive
.pytest_cache
.vscode
pytest_html_report.html
.idea/
venv/
.venv
.venv/
.coveragerc
.coverage